@font-face {
  /* ubuntu-mono-regular - latin */
  font-family: 'Ubuntu Mono';
  src: local(''), url('../fonts/ubuntu-mono-v10-latin-regular.woff2') format('woff2'), url('../fonts/ubuntu-mono-v10-latin-regular.woff') format('woff'), url('../fonts/ubuntu-mono-v10-latin-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  /* ubuntu-500 - latin */
  font-family: 'Ubuntu';
  src: local(''), url('../fonts/ubuntu-v15-latin-500.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin-500.woff') format('woff'), url('../fonts/ubuntu-v15-latin-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
