<article>
  {% if include.excerpt or include.link_only %}
  <h2>{{ include.article.title }}</h2>
  {% else %}
  <h1>{{ include.article.title }}</h1>
  {% endif %}

  <p class="details">
    <a href="{{ include.article.url }}"><time pubdate datetime="{{ include.article.date | date: "%Y-%m-%d" }}">{{ include.article.date | date_to_long_string: "ordinal", "GB" }}</time></a>
    {% if include.article.author %}
    by {{ include.article.author }}
    {% endif %}
  </p>

  {% if include.excerpt and include.link_only != true %}
  {{ include.article.excerpt | markdownify }}

  <p><a href="{{ include.article.url }}">Read more</a></p>
  {% elsif include.link_only %}
  <p><a href="{{ include.article.url }}">Read</a></p>
  {% else %}
  {{ include.article.content }}
  {% endif %}
</article>

{% unless include.no_nav %}
<nav class="article-nav">
  <div>
    {% if include.article.previous %}
    <a href="{{ include.article.previous.url }}">Previous</a>
    {% endif %}
  </div>
  <div>
    {% assign c = include.article.collection %}
    <a href="/{% if c == "posts" %}news{% else %}{{ c }}{% endif %}">Archive</a>
  </div>
  <div>
    {% if include.article.next %}
    <a href="{{ include.article.next.url }}">Next</a>
    {% endif %}
  </div>
</nav>
{% endunless %}
