<footer>
  <div>
    &copy; Libera Chat's contributors 2021
    (<a rel="license noopener noreferrer" href="https://libera.chat/LICENCE-content.txt">Content CC BY-NC-SA</a>,
    <a rel="license noopener noreferrer" href="https://libera.chat/LICENCE-code.txt">Code MIT</a>)
    /
    <a href="/atom.xml">Feed (atom)</a>
    /
    <a href="/privacy">Privacy</a>
  </div>
  <div>
    <a href="https://twitter.com/{{ site.twitter.username }}" rel="noopener noreferrer">Twitter</a>
    /
    <a href="https://facebook.com/{{ site.facebook.publisher }}" rel="noopener noreferrer">Facebook</a>
    /
    <a rel="me noopener noreferrer" href="https://{{ site.mastodon.instance }}/@{{ site.mastodon.username }}">Mastodon</a>
    /
    <a href="https://github.com/Libera-Chat/libera-chat.github.io" rel="noopener noreferrer">GitHub</a>
  </div>
</footer>
