<footer>
  <div>
    <span class="copyright">&copy; Libera Chat's contributors 2021</span>
    (<a rel="license noopener noreferrer" href="/LICENSE-content.txt">Content CC BY-NC-SA</a>,
    <a rel="license noopener noreferrer" href="/LICENSE-code.txt">Code MIT</a>)
    <span class="mobile-hide">/</span>
    <a href="/atom.xml">Feed (atom)</a>
    <span class="mobile-hide">/</span>
    <a href="/privacy">Privacy</a>
  </div>
  <div>
    <a rel="me noopener noreferrer" href="https://{{ site.mastodon.instance }}/@{{ site.mastodon.username }}">Mastodon</a>
    <span class="mobile-hide">/</span>
    <a href="https://github.com/Libera-Chat/libera-chat.github.io" rel="noopener noreferrer">GitHub</a>
    <span class="mobile-hide">/</span>
    <a href="https://bsky.app/profile/{{ site.bluesky.profile }}" rel="noopener noreferrer">Bluesky</a>
  </div>
</footer>
