<head>
  <link rel="preload" href="/static/fonts/comfortaa-v30-subset-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/ubuntu-v15-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/ubuntu-v15-subset-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/img/libera-color.svg" as="image" type="image/svg+xml">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {%- if page.robots -%}
  <meta name="robots" content="{{ page.robots }}">
  {%- endif -%}
  {%- seo -%}
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} News" href="/atom.xml">
  <link rel="icon" type="image/svg+xml" href="/static/img/libera-color.svg">
  <link rel="alternate icon" href="/favicon.ico">
  <!-- Stylesheets -->
  <style>{%- include modern-normalize.css -%}</style>
  <style>{%- include inline-style.css -%}</style>
  {% if include.with_hero %}
  <style>{%- include inline-hero-style.css -%}</style>
  {% endif %}
  {% if include.with_aside %}
  <style>{%- include inline-aside-style.css -%}</style>
  {% endif %}
  <link rel="stylesheet" href="/static/css/additional-styles.css">
  <script src="/static/js/header-links.js" defer></script>
</head>
