<section class="hero">
  <div class="logo">
    <picture>
      <source media="(prefers-reduced-motion)" type="image/png" srcset="/static/img/libera-lights.png" />
      <source type="image/webp" srcset="/static/img/libera-lights.webp" />
      <img min-height="60px" alt="" src="/static/img/libera-lights.gif" data-proofer-ignore>
    </picture>
    <h1>Libera.&ZeroWidthSpace;Chat</h1>
  </div>

  <div class="tagline">
    <p>
      Providing a community platform for free and open-source software and peer directed projects.
    </p>

    <p>
      Connect by pointing your IRC client to <a href="{{ site.irc.tls.link }}">{{ site.irc.tls.name }}</a>
    </p>
  </div>

  <div class="cta">
    <a role="button" href="/guides/clients">Choosing an IRC client</a>
    <a role="button" href="/chanreg">Channel Namespaces</a>
  </div>
</section>
