<a class="skiplink" href="#main">Skip to content</a>
<header>
  <a class="logo" href="{{ site.url }}" aria-label="Libera Chat, back to start page">
    <img alt="" src="/static/img/libera-color.svg" height="48px" data-proofer-ignore>
    <h1>Libera.&ZeroWidthSpace;Chat</h1>
  </a>

  <a id="nav-toggle" class="nav-toggle hidden" aria-controls="main-nav"><span>Navigation</span></a>

  <nav class="" id="main-nav" aria-labelledby="nav-toggle" role="menubar">
    <a id="nav-close" class="nav-close hidden" aria-controls="main-nav"><span>Close</span></a>
    {% for navgroup in site.data.nav %}
    {% if navgroup.items %}
    <details name="main-navigation">
      <summary
        {% if navgroup.highlight %}class="highlight"{% endif %}
      >{{ navgroup.name }}</summary>

      <div>
        {% for link in navgroup.items %}
        <a
        role="menuitem"
        href="{{ link.link }}"
        {% if link.external %} rel="noopener noreferrer" {% endif %}
        ><span>{{ link.name }}</span></a>
        {% endfor %}
      </div>
    </details>
    {% else %}
      <a role="menuitem" href="{{ navgroup.link }}"><span>{{ navgroup.name }}</span></a>
    {% endif %}
    {% endfor %}
  </nav>
</header>
<script async>
  const navToggle = document.querySelector('#nav-toggle')
  const navClose = document.querySelector('#nav-close')
  const mainNav = document.querySelector('#main-nav')

  // progressive enhancement!
  navToggle.classList.remove('hidden')
  navClose.classList.remove('hidden')

  navToggle.addEventListener('click', event => {
    event.preventDefault()
    mainNav.classList.toggle('show')
  })
  navClose.addEventListener('click', event => {
    event.preventDefault()
    mainNav.classList.remove('show')
  })
</script>
