@font-face {
  /* ubuntu-mono-regular - latin */
  font-family: 'Ubuntu Mono';
  src: local(''), url('/static/fonts/ubuntu-mono-v10-latin-regular.woff2') format('woff2'), url('/static/fonts/ubuntu-mono-v10-latin-regular.woff') format('woff'), url('/static/fonts/ubuntu-mono-v10-latin-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  /* ubuntu-500 - latin */
  font-family: 'Ubuntu';
  src: local(''), url('/static/fonts/ubuntu-v15-latin-500.woff2') format('woff2'), url('/static/fonts/ubuntu-v15-latin-500.woff') format('woff'), url('/static/fonts/ubuntu-v15-latin-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  /* ubuntu-italic - latin */
  font-family: 'Ubuntu';
  src: local(''), url('/static/fonts/ubuntu-v15-latin-italic.woff2') format('woff2'), url('/static/fonts/ubuntu-v15-latin-italic.woff') format('woff'), url('/static/fonts/ubuntu-v15-latin-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

code, pre, kbd {
  font-family: 'Ubuntu Mono', monospace;
  background-color: var(--c-bg-secondary);
  overflow-x: auto;
  border-radius: .3rem;
}

code, kbd {
  padding: .1rem .3rem;
  border: 1px solid var(--c-border);
}

pre code {
  padding: 0;
  border: none;
  background-color: transparent;
}

pre {
  padding: .3rem 1rem;
  border: 1px solid var(--c-border);
}

div.table {
  overflow-x: auto;
  max-width: 100%;
}

div.table p:first-child, div.table p:last-child {
  margin: 0;
}

table {
  border-collapse: collapse;
}

table thead {
  border-block-end: 3px solid var(--c-border);
}

table tbody tr:nth-child(even) {
  background-color: var(--c-bg-secondary);
}

table tbody tr:nth-child(even) kbd, table tbody tr:nth-child(even) code {
  background-color: var(--c-bg);
}

table th {
  font-weight: 500;
  background-color: var(--c-bg-secondary);
}

table th, table td {
  padding: .3rem;
  vertical-align: top;
  text-align: start;
  border: 1px solid var(--c-border);
}

table td p:last-child {
  margin-block-end: 0;
}

table td p:first-child {
  margin-block-start: 0;
}

blockquote {
  border-inline-start: .25rem solid var(--c-border);
  margin: 0;
  padding-inline-start: var(--content-inline-padding);
  font-style: italic;
}

hr {
  border: none;
  border-block-end: 1px solid var(--c-border);
  margin: 2rem 10%;
}

hr+* {
  margin-block-start: 0;
}

main img {
  display: block;
  margin: 1.5rem auto;
  max-width: var(--content-max-width);
  max-height: 45vh;
}


main .sponsors {
  display: grid;
  grid-template-columns: 1fr;
}

main .sponsors a {
  width: 100%;
  min-height: 5rem;
  font-size: 1.25rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .5rem;
}

main .sponsors a:hover {
  background-color: var(--c-bg-secondary);
}

main .sponsors a img {
  height: unset;
  max-height: 4rem;
  max-width: 100%;
  margin: 0;
}

@media screen and (min-width: 800px) {
  main .sponsors {
    grid-template-columns: 1fr 1fr;
  }
  main .sponsors a {
    height: 5rem;
  }

  main img.feature{
    max-height: 100vw;
  }
}

.verification form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.donation form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.donation fieldset.amount {
  display: grid;
  grid-template-columns: 10ch auto 15ch;
  width: 100%;
  gap: calc(var(--content-inline-padding) / 2);
  margin: 0;
  padding: 0;
  border: none;
}

.verification input[type="submit"] {
  border: none;
  display: block;
  background-color: var(--c-hl);
  color: var(--c-text-on-hl);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  padding: var(--content-inline-padding);
  min-width: 25ch;
  text-align: center;
  margin: calc(var(--content-inline-padding) / 2) 0;
}

.donation input, .donation select {
  width: 100%;
  margin: calc(var(--content-inline-padding) / 2) 0;
  border: 4px solid var(--c-hl);
  background-color: var(--c-bg-secondary);
}

.donation .donation-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: calc(var(--content-inline-padding) / 2);
  margin-top: var(--content-inline-padding);
}

.donation :is(input[type="submit"], button) {
  width: initial;
  border: 4px solid var(--c-hl);
  background-color: var(--c-hl);
  display: block;
  color: var(--c-text-on-hl);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  padding: calc(var(--content-inline-padding) / 2);
  min-width: 25ch;
  text-align: center;
  margin: 0;
}

.donation a button.secondary {
  background-color: var(--c-bg-secondary);
  color: var(--c-text);
}

.donation a:has(button) {
  text-decoration: none;
}

.verification input[type="submit"]:hover,
.donation :is(input[type="submit"]):hover {
  background-color: var(--c-hl-secondary);
  border-color: var(--c-hl-secondary);
  color: var(--c-text-on-hl-secondary);
}

.donation button.secondary:hover {
  border-color: var(--c-hl-secondary);
}
